* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

/* Altezza e Gestione Row */
.row {
  height: 100px;
}

.logInRow {
  background-color: #F4F9FD;
}

.logoRow {
  background-color: #FFFFFF;
}

.main {}

/* Altezza Blocchi e Gestione dei Blocchi principali*/
.main-block-height {
  height: 500px;
}

.block-1 {
  background-color: #FFF2EF;
}

.separator {
  border-top: 2px solid #10003A;
  background-color: #AFEBE4;
  border-bottom: 2px solid #10003A;
  height: 50px;
}

.block-2 {
  background-color: #F4F9FD;
}

/* Altezza e Gestione dei Blocchi Finali e del Footer*/
.end-block {
  height: 300px;
}

.block-3 {
  background-color: #00B3AF;
}

.block-4 {
  background-color: #FFFFFF;
}

.block-5 {
  background-color: #32495C;
}
