* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

/* Gestione delle Row*/
.row {
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  padding-left: 20%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row-1 {
  background-color: #F4F9FD;
}

.row-2 {
  background-color: #FFFFFF;
}

/* Gestione Colonne*/
.leftcol {
  float: left;
  margin: auto;
}

.leftcol h2 {
  padding: 3% 25% 25%;
}

.row-col-1 p {
  display: inline-block;
  padding-right: 30px;
}

.rightcol {
  float: right;
  margin: auto;
  padding-right: 20%;
}

.row-col-2 p {
  display: inline-block;
  padding-right: 30px;
}

/* Bottoni*/
.button {
  display: inline-block;
  border-radius: 5px;
  height: 35px;
}

.login {
  background-color: white;
  color: black;
  border: 2px solid #FE775A;
}

.login span {
  padding: 5px;
  color: #FE775A;
}

.getHubSpot {
  background-color: #FE775A;
}

.getHubSpot span {
  padding: 5px;
  color: white;
}

.nav {
  width: 100%;
  background-color: white;
  text-align: center;
}

ul.menu li {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
}

ul.menu li a {
  text-decoration: none;
  font-size: 10px;
  color: black;
}

/* Gestione Blocchi*/
.block-1 {
  background-color: #FFF2EF;
}

.main-block-height {
  height: 700px;
}

.end-block {
  height: 300px;
}

.separator {
  border-top: 2px solid #10003A;
  background-color: #AFEBE4;
  border-bottom: 2px solid #10003A;
  height: 50px;
}

.block-2 {
  background-color: #F4F9FD;
  text-align: center;
}

.block-2 img {
  padding-top: 3%;
}

.widgetBig {
  height: 150px;
  width: 800px;
  background-color: white;
  margin: 3% 25% 25%;
  margin-bottom: 3%;
}

.column {
  height: 250px;
  width: 200px;
  background-color: white;
  margin-left: 3%;
  margin-right: 3%;
  display: inline-block;
}

.block-3 {
  background-color: #00B3AF;
}

.end-block h2 {
  text-align: center;
  padding-top: 3%;
}

.block-4 {
  background-color: #FFFFFF;
}

/* Gestione Footer*/
.footer {
  background-color: #32495C;
}

.footercolumn {
  height: 250px;
  width: 200px;
  margin-left: 10%;
  display: inline-block;
  padding-top: 1%;
}

.footercolumn h2, .footercolumn p {
  color: white;
}
