* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AvenirNext", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.root-container {
  position: relative;
}

/* Gestione dei Colori*/
.header-row-1-color {
  background-color: #F4F9FD;
}

.header-row-2-color {
  background-color: #FFFFFF;
}

.body-color {
  background-color: #FFF2EF;
}

.separator {
  border-top: 2px solid #10003A;
  background-color: #AFEBE4;
  border-bottom: 2px solid #10003A;
  height: 50px;
}

.body-color2 {
  background-color: #F4F9FD;
}

.body-color3 {
  background-color: #00B3AF;
}

.footer-color {
  background-color: #33475B;
}

/* Gestione delle Row*/
.pageMargin {
  margin: 0 10%;
}

.pageMargin::after {
  content: "";
  display: table;
  clear: both;
}

/* Width Colonne*/
.col {
  float: left;
  position: relative;
}

.col-100 {
  width: 100%;
}

.col-90 {
  width: 90%;
}

.col-67 {
  width: calc(100%* 2/3);
}

.col-60 {
  width: 60%;
}

.col-50 {
  width: 50%;
}

.col-33 {
  width: calc(100% * 1/3);
}

.col-30 {
  width: 30%;
}

.col-25 {
  width: calc(100% * 1/4);
}

.col-20 {
  width: calc(100% * 1/5);
}

.col-12 {
  width: 12.5%;
}

/* Gestione Tabella*/


.tabtitle {
  padding: 50px;
  color: white;
  text-align: center;
}

.tab {
  padding: 5%;
  position: relative;
}

.plusMargin {
  margin-top: 4px;
}

.tabcell {
  text-align: center;
  color: white;
  padding: 5%
}

.tab-up {
  border-bottom: 1px solid white;
}

.tab-down, .tab-up {
  border-right: 1px solid white;
}

.lastcellup {
  border-bottom: 1px solid white;
}

/* Height Colonne*/

.h-400 {
  height: 400px;
}

.h-350 {
  height: 350px;
}

.h-300 {
  height: 300px;
}

.h-250 {
  height: 250px;
}

.h-200 {
  height: 200px;
}

.h-150 {
  height: 150px;
}

.h-100 {
  line height: 100px;
  height: 100px;
}

.relative {
  position: relative;
}

/* Bottoni*/
.button {
  display: inline-block;
  border-radius: 5px;
  height: 35px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 4px;
  background-color: coral;
  border: none;
  color: #32495b;
  padding: 8px 10px;
}

.log {
  background-color: white;
  color: black;
  border: 2px solid #FE775A;
}

.log span {
  padding: 5px;
  color: #FE775A;
}

.getHubSpot {
  background-color: #FE775A;
}

.contactHubSpot {
  background-color: #FFFFFF;
}

.getHubSpot span {
  padding: 5px;
  color: white;
}

/* CONTENUTI ROW 1*/
.text-box {
  position: absolute;
  top: 50%;
  transform: translate(3%, -50%);
}

.bgimg {
  width: 100%;
  height: 400px;
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 26%;
}

.text-box p, .text-box .fa-arrow-down {
  transform: translate(20%, 0%);
  display: inline-block;
}

.login {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-3%, -50%);
  display: inline-block;
}

/* CONTENUTI ROW 2*/
.logo {
  width: 170px;
  height: 60px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

/* NavBar ROW2*/
.navcontainer {}

.nav {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

ul.menu li {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  float: right;
}

ul.menu li a {
  text-decoration: none;
  font-size: 15px;
  color: #2A4357;
}

ul.menu li:hover {
  cursor: pointer;
}

.jumbotron {
  margin-top: 10%;
}

.jumbotron h1, .jumbotron button {
  margin-top: 5%;
  margin-bottom: 5%;
}

.subtitle {
  font-size: 10px;
}

/* Sezione 2*/

.powerfull {
  position: absolute;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 30px;
}

.powerfull img {
  width: 300px;
}

.freeHubspot {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #E6ECF0;
  box-shadow: 0 0 5px 1px #E6ECF0;
}

.learn-more {
  position: absolute;
  top: 15%;
  right: 25%;
}

.learn-more button {
  position: absolute;
  right: 10%;
}

.learn-more-text {
  position: relative;
}

.freeCRM {
  position: absolute;
  top: 50%;
  transform: translateY(25%);
}

.freeCRM h2, .freeCRM p {
  padding-bottom: 20px;
}

.fa-check-circle {
  color: coral;
}

.fa-check-circle span {
  color: black;
  margin-left: 15px;
  margin-right: 20px;
}

.cardscheck {
  margin-left: 12%;
}

.cardssection {
  padding-top: 5%;
  padding-bottom: 5%;
}

.cards {
  text-align: center;
  background-color: white;
  border-radius: 1%;
  border: 1px solid #E6ECF0;
  box-shadow: 0 0 5px 1px #E6ECF0;
  padding: 10%;
}

.marketingHub {
  float: left;
}

.serviceHub {
  float: right;
}

.saleshub {
  margin: 0 auto;
  width: 30%;
}

.cardsbutton {
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 4px;
  background-color: coral;
  border: none;
  color: #32495b;
  padding: 8px 10px;
}

.cardsbutton span {
  font-size: 20px;
}

.bullet-list-h2, .bullet-list, .col-90 button {
  padding-top: 15px;
}

.saleshub hr {}

hr {
  margin-top: 30%;
}

.bullet-list li {
  list-style-type: none;
  text-align: left;
}

/* Sezione Tabella*/

.startGrow {
  top: 0%;
  transform: translateY(25%);
}

.startGrow h1, .startGrow p {
  padding-bottom: 30px;
}

/* Penultima Sezione*/


.numb {
  text-align: center;
  padding: 5%;
}

.loghi {
  padding: 5%;
}

.logos img {
  width: 130px;
}

.person img {
  width: 60%;
  height: 60%;
  padding-top: 10px;
}

/* Footer*/

.footericons {
  padding-left: 20px;
}

.footer {
  color: white;
  padding-top: 20px;
}

.footer h2 {
  color: white;
  margin-bottom: 10%;
  margin-top: 10%;
}

.bullet-list-footer li {
  text-align: left;
  margin-bottom: 3%;
  list-style-type: none;
  color: white;
}

.bottomlanguages {
  text-align: center;
  padding-top: 50px;
}

.bottomlanguages li {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  color: white;
}

.hrContainer {
  border: 1px solid white;
}

.rightfooter p {
  display: inline-block;
  float: right;
}
